/* Box-sizing border-box */
* {
  box-sizing: border-box;
}


// Variables

$primary-color   : #333;
$secondary-color : hsl(147, 60%, 50%);

.cf:after {
  content: " ";
  display: table;
  clear: both;
}

html {
  height: 100%;
}

body {
  color: #333;
  background-color: #fdfdfd;
  position: relative;
  line-height: 1.5;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  min-height: 100%;
}

a {
  color: $primary-color;
  text-decoration: none;
  transition: .3s;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.wrapper {
  position: relative;
}

#header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  z-index: 10;

}

.is-scrolled #header  {
    background: #fff;
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.1);
}

a.logo {
  color: #333;
  font-size: 1.5em;
  font-weight: 700;
  line-height: 72px;
  padding-left: 1em;
}
.main-nav {
  display: none;
  padding-right: 1.4em;

  ul {
    list-style: none;

    li {
      display: inline-block;
    }
  }
}

.main-nav-link {
  display: inline-block;
  padding: .5em .75em;
  position: relative;

  &:after {
    content: "";
    border-bottom: 2px solid $secondary-color;
    height: 2px;
    position: absolute;
    left: 0;
    bottom: -16px;
    opacity: 0;
    transform: scaleX(0);
    transition: transform .3s cubic-bezier(.4,0,.2,1), opacity .3s cubic-bezier(.4,0,.2,1);
    width: 100%;
  }
}

.main-nav-link:hover:after {
  opacity: 1;
  transform: scaleX(1);
}

.off-canvas-nav {
  display: block;
  background: hsla(120, 50%, 50%, 1);
  position: fixed;
  z-index: 200;
  width: 300px;
  height: 100%;
  top: 0;
  right: 0;
  transform: translateX(300px);
  transition: transform 0.5s cubic-bezier(0, 0.94, 0.59, 1);

  ul {
    list-style: none;
    text-transform: uppercase;
    text-align: center;
    padding-left: 0;
    transform: translateY(200px);
  }
}
.off-canvas-nav-link {
  display: inline-block;
  color: #fff;
  width: 100%;
  padding: .25em 0;
  font-weight: 300;
  letter-spacing: 0.15em;
}

.off-canvas-nav-link:hover {
  background: hsla(0, 0, 0, 0.15);
}


.is-active .off-canvas-nav {
  transform: translateX(0);
}

.c-hamburger {
  display: block;
  height: 32px;
  width: 32px;
  text-indent: -99999px;
  overflow: hidden;
  position: fixed;
  top: 20px;
  right: 25px;
  z-index: 300;
}

.c-hamburger:focus {
  outline: none;
}

.c-hamburger span,
.c-hamburger span::before,
.c-hamburger span::after {
  background: #333;
  display: block;
  width: 32px;
  height: 2px;
  position: absolute;
  transition: .55s cubic-bezier(0, 0.94, 0.59, 1);
}

.c-hamburger span {
  top: 15px;
}

.c-hamburger span::before,
.c-hamburger span::after {
  content: '';
}

.c-hamburger span::before {
  bottom: 7px;
}

.c-hamburger span::after {
  top: 7px;
}

.is-active .c-hamburger span {
  background: #fff;
  transform: rotate(180deg);
}

.is-active .c-hamburger span::before,
.is-active .c-hamburger span::after {
  background: #fff;
  width: 50%;
}

.is-active .c-hamburger span::before {
  transform: rotate(-45deg) translateX(-2px) translateY(0);
}

.is-active .c-hamburger span::after {
  transform: rotate(45deg) translateX(-2px) translateY(0);
}

.is-scrolled .c-hamburger {
  // box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.1);
}

.is-scrolled .c-hamburger span {
  background: #333;
}

.is-scrolled .c-hamburger span::before,
.is-scrolled .c-hamburger span::after {
  background: #333;
}


@keyframes bounceIn {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.3);
        transform: scale(0.3);
    }

    50% {
        opacity: 1;
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
    }


    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes bounceOut {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    25% {
        -webkit-transform: scale(0.95);
        transform: scale(0.95);
    }

    50% {
        opacity: 1;
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }

    100% {
        opacity: 0;
        -webkit-transform: scale(0.3);
        transform: scale(0.3);
    }
}


.main {

  .section {
    text-align: center;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    height: 100vh;
    margin: 0 auto;
    width: 100%;
  }

  .intro-copy {
    max-width: 25em;
    padding: 0 2em;
    margin: 0 auto;
    transition: .3s;

    h1 {
      font-size: 7em;
      margin: 0;
    }

    p {
      margin-top: -1.25em;
    }
  }

}

.btn {
    display: inline-block;
    height: 58px;
    padding: 0 22px;
    border: 2px solid #888;
    border-radius: 50px;
    background: none;
    font-size: 16px;
    line-height: 54px;
    color: #333;
    letter-spacing: .10em;
    text-decoration: none;
    font-weight: 600;
    text-transform: uppercase;
    vertical-align: middle;
    text-align: center;
    appearance: none;
    transition: background .35s, color .35s, border-color .35s;
  }

.btn:hover {
  color: #fff;
  background: $secondary-color;
  border-color: $secondary-color;
}

#im-good {
  margin-top: 1em;;
}

//fullpage.js custom css
#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  // background: #f90;
}

#fp-nav ul li .fp-tooltip {
  color: #000;
}


.section:first-child:after {
  content: '\2193';
  display: none;
  font-size: 2em;
  position: absolute;
  bottom: 1.5em;
  left: calc(50% - 25px);
  height: 1em;
  width: 1em;
  border-radius: 50%;
  border: 2px solid;
  padding: .2em;
  line-height: 1em;
  text-align: center;
  animation: upDown 1.75s infinite ease-in-out;
}

@keyframes upDown {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(20px);
  }

  100% {
    transform: translateY(0);
  }
}

@media screen and (min-width: 480px) {

  .main {
    .intro-copy {
      max-width: 45em;

      h1 {
        font-size: 8em;
      }
      p {
        font-size: 1.05em;
      }
    }
  }
}

@media screen and (min-width: 720px) {

  .main-nav,
  .section:first-child:after {
    display: block;
  }

  .c-hamburger,
  .off-canvas-nav {
    display: none;
  }

  .main {
    .intro-copy {
      // max-width: 45em;

      h1 {
        font-size: 10em;
      }
      p {
        font-size: 1.2em;
      }
    }
  }
}
